# Conan

conan.lock
conanbuildinfo.txt
conanbuildinfo.premake.lua
conaninfo.txt
graph_info.json

# Premake

Makefile
WxWidgetsConanPremake.make

WxWidgetsConanPremake.sln
WxWidgetsConanPremake.vcxproj

# Target

bin/
obj/
